.update-form {
    border: 1px solid #31757B;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    width: 365px;
    color: white;
    background-color: #31757B;
 }
 
 .update-form .header {
    background-color: #31757B;
    color: white;
    font-size: 1.3em;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
 }
 
 .update-form form {
    width: 100%;
    padding: 1rem;
 }
 
 .update-form .form-group {
    margin-bottom: 1rem;
    display: flex; 
    align-items: center; 
 }
 
 .update-form .newPrice {
    text-align: center;
 }
 
 .update-form input[type="text"],
 .update-form input[type="number"],
 .update-form input[type="date"],
 .update-form input[type="datetime-local"],
 .update-form textarea {
    flex: 2; 
    padding: 0.5rem;
    border: 1px solid #296163;
    border-radius: 5px;
 }
 
 .update-form .form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem; 
 }
 
 .update-form button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .update-form .update-btn {
    background-color: #60b0b8;
    color: white;
 }
 
 .update-form .update-btn:hover {
    background-color: #296163;
 }
 
 .update-form .cancel-btn {
    background-color: #E74C3C;
    color: white;
 }
 
 .update-form .cancel-btn:hover {
    background-color: #CC4332;
 }
 